.post{
    background-color:white;
    margin-bottom: 45px;
    max-width:500px;
    border:1px solid lightgray
    
}
.post__image {
    width: 100%;
    object-fit:contain;
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;

   
}

.post__header{
    display:flex;
    align-items:center;
    padding:20px;
    
}

.post__avatar{
    margin-right:10px;
}
.post__text{
    font-weight:normal;
    padding: 20px;
}

.post__commentBox{
    display: flex;
    margin-top: 10px;
  }
  .post__comments{
    padding: 10px;
  }
  .post__input{
  flex: 1;
  border: none;
  padding: 10px;
  border-top: 1px solid lightgray;
  }
  .post__button{
    flex: 0;
    border: none;
    color:#6082a3;
    background-color: transparent;
    border-top: 1px solid lightgray;
  
  }
/*.instagram-post {
    display: flex;
    border: 1px solid #e1e1e1;
    margin: 10px;
    padding: 10px;
    max-width: 600px;
    object-fit:contain;
}
*/
/*
.post-details {
    margin-left: 10px;
    object-fit:contain;
}

.user-info {
    display: flex;
    align-items: center;
    object-fit:contain;
}*/

/*.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit:contain;
}

.username {
    font-weight: bold;
    object-fit:contain;
}*/

/*.caption {
    margin-top: 5px;
    object-fit:contain;
}

.likes {
    margin-top: 5px;
    color: #999;
    object-fit:contain;
}*/
